/* clear */
h1, h2, h3, h4 {
	margin: 0 0 0 0;
	padding: 0;
}

.row {
	margin: 0;
}

#contents {
	padding: 0;
}

ul {
	list-style-type:none;
	margin-bottom: 10px;
	padding: 0;
	padding-left: 10px;
}

* {
	color: #333;
}

/* common */
h2, h3, h4 {
	margin-bottom: 10px;
}

a, a span, a:hover {
	color: #0095d9;
	text-decoration: none;
}

header {
	border-bottom: solid 1px #666;
	background-color: #AAA;
	padding-left: 6px;
	padding-right: 6px;
	margin-bottom: 10px;
}

footer {
	border-top: solid 1px #AAA;
	background-color: #EEE;
	margin-bottom: 10px;
}

#wrapper {
	padding: 0;
}

#contents{
	padding: 0 3px;
}

header > h1 > a {
	color: #333;
	text-shadow: 2px 2px 3px #666;
}

header > h1 > a:hover {
	color: #333;
}


header div.description{
	font-size: 10pt;
}

header div.description .text{
	float: left;
	margin-top: 5px;
}

header div.description .search{
	float: right;
	text-align: right;
}

nav {
	margin: -6px 6px 6px 6px;
	border-bottom: 1px double #0095d9;
	box-shadow: 0 5px 5px -5px #0095d9;
}

nav span {
	color: #0095d9;
}

nav .word {
	padding-bottom: 10px;
}

#contents ul {
	list-style-type: disc;
	margin-left: 10px;
}

#sidebar {
	padding: 0;
}

/* wordpress */
#pages{
	padding: 3px;
}

#sidebar .widget h2{
	padding: 3px;
	font-size: 10pt;
	background-color: #AAA;
	color: #FFF;
	font-weight: bold;
	margin-bottom: 3px;
}

#sidebar > ul {
	padding-left: 0;
}

/* any */
.content {
	border: 2px #333 solid;
	padding: 3px 6px;
	margin: 0 0 10px 0;
	border-radius: 5px;  
}

#contents h1 {
	border-bottom: solid 2px #AAA;
	padding-bottom: 3px;
	font-size: 16pt;
}

#contents .time {
	text-align: right;
}

#contents h2 {
	font-size: 16pt;
	border: solid 1px #AAA;
	padding: 3px;
	box-shadow: 1px 1px 3px #AAA;
	text-shadow: 1px 1px 1px #AAA;
}

#contents h3 {
	font-size: 12pt;
	padding-bottom: 3px;
	border-bottom: 1px solid #AAA;
	border-left: 6px solid #AAA;
	padding-left: 3px;
	text-shadow: 1px 1px 1px #AAA;
}

#contents h4 {
	font-size: 12pt;
	font-weight: normal;
	padding-bottom: 3px;
	border-bottom: 1px dashed #AAA;
	text-shadow: 1px 1px 1px #AAA;
}

pre code {
}

pre {
	margin: 0 10px 10px 10px;
}

/* pager */
.pager {
	margin-bottom: 10px;
	position: relative;
	text-align: center;
}

.pager .previous{
	float: left;
}

.pager .next{
	float: right;
}



